# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
venv/
env/

# Data
# Exclude raw logs and generated outputs from git
flaws_cloudtrail_logs/
output/

# OS specific files
.DS_Store
Thumbs.db
